<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
    <div class="row">


        {%block nav%} {%endblock%}

        <div id="main" class="col row">
            {% with messages = get_flashed_messages() %} {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %} {% endwith %} {%block body%} {%endblock%}
        </div>
    </div>
    <div class="row">
        <footer id="footer">
            Hello
        </footer>
    </div>

</body>
<!--<script src="static/index.js"></script>-->

</html>
