<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="row">
        {%block nav%}
        <nav class="nav flex-column col-lg-2 col-md-3 col-sm-4 " id="nav">
            <a class="nav-link" id="nav-link" href="/"><b>FINANCE</b></a>
            <a class="nav-link" id="nav-link" href="#">Active</a>
            <a class="nav-link" id="nav-link" href="#">Link</a>
            <a class="nav-link" id="nav-link" href="#">Link</a>
        </nav>
        {%endblock%}
        <div class="col-lg-10 col-md-9 col-sm-8">
            {%block body%} Doggo ipsum very good spot you are doin me a concern doggorino dat tungg tho very taste wow, sub woofer puggo ur givin me a spook. Maximum borkdrive big ol pupper most angery pupper I have ever seen big ol pupper bork, most angery pupper
            I have ever seen heckin angery woofer bork. Woofer noodle horse pupper blop, shoober. length boy borking doggo heckin good boys. The neighborhood pupper long woofer puggorino you are doing me the shock, tungg boofers much ruin diet, blop shooberino.
            clouds. Heckin ruff vvv boof wrinkler snoot, vvv doge floofs wow such tempt. Much ruin diet bork sub woofer length boy h*ck, puggorino long water shoob. Clouds doggo shibe long water shoob doge, smol borking doggo with a long snoot for pats
            very taste wow aqua doggo super chub shooberino, aqua doggo I am bekom fat boof. Heck length boy ur givin me a spook boofers, shoob very jealous pupper. Clouds lotsa pats smol borking doggo with a long snoot for pats long bois pupperino very
            taste wow lotsa pats sub woofer ur givin me a spook, h*ck super chub very good spot snoot borking doggo doge. Adorable doggo puggorino most angery pupper I have ever seen blop bork super chub, maximum borkdrive what a nice floof sub woofer
            bork mlem very jealous pupper, stop it fren corgo long doggo smol borking doggo with a long snoot for pats. Fat boi ur givin me a spook puggorino big ol pupper, doggorino. Wow such tempt very good spot such treat stop it fren, very taste wow.
            H*ck length boy big ol pupper smol ruff, mlem very taste wow shoob wow very biscit long doggo, very taste wow heck doggo. tungg. Fluffer doge you are doin me a concern big ol doggo very hand that feed shibe, heck fat boi heckin good boys wow
            such tempt very taste wow such treat, borkdrive long doggo blep dat tungg tho. wrinkler pupperino puggo. Pupper borking doggo snoot, heckin good boys and girls. Pupperino you are doing me the shock big ol pupper shooberino big ol pupper ur
            givin me a spook shibe, much ruin diet puggo heckin good boys shoober. Dat tungg tho much ruin diet aqua doggo waggy wags h*ck long bois, puggorino wrinkler what a nice floof pupper. Stop it fren borking doggo you are doing me a frighten blop
            borking doggo puggo, doge bork snoot. Pupper ruff ur givin me a spook fat boi smol, doggorino adorable doggo. Adorable doggo the neighborhood pupper waggy wags puggo yapper lotsa pats heckin good boys and girls doggo stop it fren, doge very
            taste wow dat tungg tho long bois boof sub woofer. Wrinkler pupper shooberino heckin boofers, long water shoob boofers pupperino.
        

        {%endblock%}
        
        </div>
    </div>
    <div class="row">
        <footer id="footer">
            Hello
        </footer>
    </div>
</body>

</html>
