{%extends "home.html"%} {% block body%}

<div class="col-12">
  <h1 style="text-align:center">Items List</h1>

  <br> <br>

  <div style="text-align:center" class="row justify-content-around">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <center>
        <h3> Your Income</h3>
      </center>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Source</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Frequency</th>
            <th scope="col">Remove?</th>
          </tr>
        </thead>
        <tbody>
          {%for source in income%}
          <tr>
            <th scope="row">{{source['source']}}</th>
            <td>{{source['date']}}</td>
            <td>${{source['amount']}}</td>
            {%if source['isContinuous']%}
            <td>{{source['frequency']}} every {{source['timeperiod']}}</td>
            {%else%}
            <td> N/A </td>
            {%endif%}
            <td>
              <button class="btn btn-danger" id="delete" data-toggle="modal" name="myModal{{source['_id']}}" data-target="#delete">Delete</button>

              <!--THIS DOES WORK-->
              <div class="modal" tabindex="-1" id="myModal{{source['_id']}}" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style = "color:black">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" id="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" >
                      Are you sure you want to delete this item? This action is irreversable.
                    </div>
                    <div class="modal-footer">
                      <form action="/delete" method="POST">
                        <input type="hidden" name="id" value={{source[ '_id']}}>
                        <input type="hidden" name="type" value="income">
                        <a  role ="button" type="button" class="btn btn-danger" name="delete" href="/delete?id={{source['_id']}}&type=income">Delete</a>
                      </form>
                      <form action="/itemlist">
                        <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--<form action="/delete" method="POST">-->
              <!--  <input type="hidden" name="id" value={{source[ '_id']}}>-->
              <!--  <input type = "hidden" name = "type" value = "income">-->
              <!--  <button type="submit" class="btn btn-danger">Delete</button>-->
              <!--</form>-->
              
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

    <br> <br>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <center>
        <h3> Your Expenses</h3>
      </center>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Date</th>
            <th scope="col">Cost</th>
            <th scope="col">Frequency</th>
            <th scope="col">Remove?</th>
          </tr>
        </thead>
        <tbody>
          {%for expense in expenses%}
          <tr>
            <th scope="row">{{expense['item']}}</th>
            <td>{{expense['date']}}</td>
            <td>${{expense['amount']}}</td>
            {%if expense['isContinuous']%}
            <td>{{expense['frequency']}} every {{expense['timeperiod']}}</td>
            {%else%}
            <td> N/A </td>
            {%endif%}
            <td>

              <button class="btn btn-danger" id="delete" data-toggle="modal" name = "myModal{{expense['_id']}}" data-target="#delete">Delete</button>

              <!--THIS DOES WORK-->
              <div class="modal" tabindex="-1" id="myModal{{expense['_id']}}" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style = "color:black">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" id="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" >
                      Are you sure you want to delete this item? This action is irreversable.
                    </div>
                    <div class="modal-footer">
                      <form action="/delete" method="POST">
                        <input type="hidden" name="id" value={{expense[ '_id']}}>
                        <input type="hidden" name="type" value="income">
                        <a  role ="button" type="button" class="btn btn-danger" name="delete" href="/delete?id={{expense['_id']}}&type=expenses">Delete</a>
                      </form>
                      <form action="/itemlist">
                        <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>

                // Get the button that opens the modal
                var del = document.getElementById("delete");
                
                // Get the modal
                var modal = document.getElementById(del.getAttribute("name"));

                var close = document.getElementById("close");
                var cancel = document.getElementById("cancel");

                // When the user clicks on the button, open the modal
                del.addEventListener("click", (e) => {
                  modal.style.display = "block";
                  console.log(e);
                });

                close.addEventListener("click", (e) => {
                  modal.style.display = "none";
                  console.log(e);
                });
                cancel.addEventListener("click", (e) => {
                  modal.style.display = "none";
                  console.log(e);
                });
              </script>

{%endblock%}
