{%extends "base.html"%} {%block title%} Login {%endblock%}{% block body%}
<div class="row justify-content-center" style = "width:100%">
  <div class = "col-sm-12 col-md-8 col-lg-6">
  <div class ="card text-center">
    <div class="card-header" style = "background-color:#01394B">
      <img src="static/balance.png" height=100>
    </div>
    <div class = "card-body">
  <h1 style = "text-align:center">Login</h1><br>
  <!--<div class = "col">-->
  <form class="needs-validation" method="POST" action="/" novalidate>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-username col">
        <input name="uname" type="text" class="form-control" id="username" placeholder="Username" required>
      </div>
      <br> <br>

      <div class="form-password col">
        <input name="pword" type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <br> <br>
    Don't have an account yet? <a href="/register">Sign up!</a>
    <br> <br>
    <button type="submit" class="btn btn-primary">Login</button>

  </form>
  </div>
  <!--</div>-->
  </div>
  </div>
</div>
{%endblock%}
