{%extends "base.html"%}
{% block body%}     
<center>
<h1>Login to your Ledger Account</h1>
<br>
<form class="needs-validation" method = "POST" action = "/" novalidate>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="form-username col-md-7 col-lg-7">
      <input name="uname" type="text" class="form-control" id="username" placeholder="Username"  required>
    </div>
  <br> <br>
  
  <div class="form-password col-md-7 col-lg-7">
    <input name = "pword" type="password" class="form-control" id="password" placeholder="Password">
  </div>
 </div>
 <br> <br>
 <a href="/register">Do you have an account yet? Sign up today!</a>
 <br> <br> 
 <button type="submit" class="btn btn-primary">Login</button>

</form>
</center>
{%endblock%}