{%extends "base.html"%} {% block body%}
<div class="row justify-content-center" style = "width:100%">
  <div class = "col-sm-12 col-md-8 col-lg-6">
  
  <h1 style = "text-align:center">Login to your balance Account</h1><br>
  <!--<div class = "col">-->
  <form class="needs-validation" method="POST" action="/" novalidate>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-username col">
        <input name="uname" type="text" class="form-control" id="username" placeholder="Username" required>
      </div>
      <br> <br>

      <div class="form-password col">
        <input name="pword" type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <br> <br>
    <a href="/register">Do you have an account yet? Sign up today!</a>
    <br> <br>
    <button type="submit" class="btn btn-primary">Login</button>

  </form>
  <!--</div>-->
  </div>
</div>
{%endblock%}
